/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@import "../../scss/globals.scss";

#projects-container {
  color: $font-color;
  font-family: $font-stack;
}

#projects-caption a,
.project-container a {
  color: $font-color;
}

#projects-caption a:visited,
.project-container a:visited {
  color: $font-color;
}

.project-description {
  display: none;
}

.project-more-button {
  border: 1px solid $button-border-color;
  color: $button-letter-color;
}

a {
  color: $font-color;
}

@media screen and (min-width: $desktop-screen) {
  #projects-container {
    margin: 20vh 5vw 5vh 7vw;
    width: 60vw;
  }

  #projects-header {
    font-size: 4.3em;
  }

  #projects-caption {
    font-size: 1.15em;
  }

  #projects-list {
    margin-top: 2em;
    padding-right: 0.8em;
    max-height: calc(100% - 4.3em - 1.15em - 3em);
    overflow: auto;
  }

  #projects-list {
    scrollbar-width: 7px;
    scrollbar-color: $navbar-color;
  }

  #projects-list::-webkit-scrollbar {
    width: 7px;
  }

  #projects-list::-webkit-scrollbar-track {
    background: #0f0f0f;
    border-radius: 20px;
  }

  #projects-list::-webkit-scrollbar-thumb {
    background-color: $active-color;
    border-radius: 20px;
  }

  .project-container:not(:first-child) {
    margin-top: 1.7em;
  }

  .project-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .project-title {
    font-size: 2em;
    letter-spacing: -0.03cm;
  }

  .project-more-button {
    margin-left: 0.6em;
    margin-top: 0.2em;
    padding: 3px 7px;
    border-radius: 2px;
    font-size: 1.1em;
  }

  .project-more-button:hover {
    cursor: pointer;
  }

  .project-sub {
    margin-top: 0.3em;
    font-size: 1.15em;
  }

  .project-description {
    margin-top: 0.2em;
  }
}
