#mobile-experience-container {
  position: absolute;
  top: 15vh;
  margin: auto 10px;
  color: #E8E8E8;
  font-family: 'Courier New', Courier, monospace;
}

#mobile-experience-header {
  font-size: 2.2em;
  font-weight: 1000;
  letter-spacing: -0.02cm;
}

#mobile-job-list {
  margin-top: 4vh;
  overflow: auto;
  height: calc(100vh - 2.2em - 15vh - 23vh);
}

.mobile-job-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-more-button {
  font-size: .8em;
  border: 1px solid #0085FC;
  color: #2DB3FC;
  padding: 3px 5px;
  border-radius: 1.5px;
}

.mobile-job-container {
  color: #E8E8E8;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
}

.mobile-job-container:not(:first-child) {
  margin-top: 15px;
}

.mobile-job-container:nth-child(2n) {
  flex-direction: row-reverse;
}

.mobile-job-image {
  max-width: 70px;
  height: auto;
  max-height: 120px;
  object-fit: contain;
}

.mobile-job-content {
  padding-left: 7px;
}

.mobile-job-duration {
  font-size: .6cm;
  font-weight: 1000;
  letter-spacing: -.02cm;
}

.mobile-job-header {
  margin-top: 5px;
}

.show {
  display: block !important;
}

.mobile-job-description {
  display: none;
  margin-top: 3px;
  font-size: .4cm;
  color: #BFBFBF;
  letter-spacing: -0.02cm;
}
