#mobile-experience-container {
  padding-top: 7vh;
  overflow: auto;
  margin: auto 10px;
  height: calc(80vh - 55px);
  color: #E8E8E8;
  font-family: 'Courier New', Courier, monospace;
}

#mobile-experience-header {
  font-size: 1.1cm;
  font-weight: 1000;
  letter-spacing: -0.02cm;
}

.mobile-job-container:first-child {
  margin-top: 6vh;
}

.mobile-job-container:not(:first-child) {
  margin-top: 25px;
}

.mobile-job-container {
  color: #E8E8E8;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
}

.mobile-job-container:nth-child(2n) {
  flex-direction: row-reverse;
}

.mobile-job-image {
  width: 70px;
  max-height: 120px;
}

.mobile-job-content {
  padding-left: 7px;
}

.mobile-job-duration {
  font-size: .6cm;
  font-weight: 1000;
  letter-spacing: -.02cm;
}

.mobile-job-header {
  margin-top: 5px;
}

.mobile-job-description {
  margin-top: 3px;
  font-size: .4cm;
  color: #BFBFBF;
  letter-spacing: -0.02cm;
}