#mobile-top-bar {
  height: 55px;
  background-color: #0F0F0F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.change .hidden-menu-item {
  opacity: 100;
  visibility: visible;
}

.hidden-menu-item {
  transition-duration: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: visible;
}