@import "../../scss/globals.scss";

.list {
  list-style-position: inside;
  padding-left: 5px;
  list-style-type: circle;
  margin-bottom: 5vh;
}

@media screen and (min-width: $desktop-screen) {
  #about-container {
    margin-top: 30vh;
    margin-left: 7vw;
    padding-bottom: 10vh;
  }

  .about-header {
    font-size: 4.3em;
  }

  .list {
    font-size: 1.3em;
    letter-spacing: 0.07cm;
    line-height: 1.2em;
  }

  #hobbies-container {
    margin-top: 5vh;
  }
}

@media screen and (max-width: $mobile-screen) {
  #about-container {
    box-sizing: border-box;
    padding-top: 33vh;
    padding-left: 25px;
    line-height: 22px;
    height: calc(100vh - #{$navbar-mobile-height});
  }

  .about-header {
    font-size: 1cm;
    font-weight: 1000;
  }

  .list {
    font-size: 16px;
    margin-top: 12px;
  }

  #hobbies-container {
    margin-top: 35px;
  }
}
