#pc-about-container {
  margin-top: 33vh;
  margin-left: 7vw;
}

.pc-about-header {
  font-size: 4.3em;
}

.pc-list {
  font-size: 1.3em;
  letter-spacing: .07cm;
  line-height: 1.2em;
}

#pc-hobbies-container {
  margin-top: 5vh;
}