#pc-home-container {
  margin-top: 40vh;
  margin-left: 7vw;
}

#pc-home-hi {
  font-size: 5em;
}

#pc-home-presentation {
  margin-top: .7em;
  font-size: 2.5em;
}

#pc-skills {
  font-size: 1.1em;
  margin-top: .5em;
}

#pc-touch-button {
  margin-top: 1.5em;
  text-decoration: none;
  background-color: #1B1F24;
  border: 1px solid #0085FC;
  color: #2DB3FC;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  letter-spacing: -0.02cm;
  font-weight: 500;
  padding: 12px 18px;
}