@media screen and (min-width: 751px) {
  #home-container {
    margin-top: 40vh;
    margin-left: 7vw;
  }
  
  #hi {
    font-size: 5em;
  }
  
  #presentation {
    margin-top: .7em;
    font-size: 2.5em;
  }
  
  #skills {
    font-size: 1.1em;
    margin-top: .5em;
  }
  
  #touch-button {
    margin-top: 1.5em;
    text-decoration: none;
    background-color: #1B1F24;
    border: 1px solid #0085FC;
    color: #2DB3FC;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    letter-spacing: -0.02cm;
    font-weight: 500;
    padding: 12px 18px;
  }
}

@media screen and (max-width: 750px) {
  #home-container {
    color: #E8E8E8;
    font-family: 'Courier New', Courier, monospace;
    margin: 27vh auto auto 25px;
  }
  
  #hi {
    margin: 0;
    font-size: 1cm;
    font-weight: 1000;
  }
  
  #presentation {
    letter-spacing: -2px;
    font-size: x-large;
    margin-top: 21px;
    line-height: 28px;
    font-weight: 100;
  }
  
  #skills {
    margin-top: 15px;
    margin-right: 11%;
    line-height: 22px;
  }
  
  #touch-button {
    background-color: #1B1F24;
    border: 1px solid #0085FC;
    color: #2DB3FC;
    text-decoration: none;
    border-radius: 1.5px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
    padding: 12px 18px;
    margin-top: 20px;
  }
}
