@use '../../scss/globals.scss';

@media screen and (min-width: 751px) {
  #home-container {
    margin-top: 40vh;
    margin-left: 7vw;
  }
  
  #hi {
    font-size: 5em;
  }
  
  #presentation {
    margin-top: .7em;
    font-size: 2.5em;
  }
  
  #skills {
    font-size: 1.1em;
    margin-top: .5em;
  }
  
  #touch-button {
    margin-top: 1.5em;
    text-decoration: none;
    background-color: globals.$background-color;
    border: 1px solid globals.$button-border-color;
    color: globals.$button-letter-color;
    outline: none;
    font-size: 1.5em;
    letter-spacing: -0.02cm;
    font-weight: 500;
    padding: 12px 18px;
    font-family: globals.$font-stack;
  }
}

@media screen and (max-width: 750px) {
  #home-container {
    box-sizing: border-box;
    padding-top: 27vh;
    padding-left: 25px;;
    height: calc(100vh - #{globals.$navbar-mobile-height});
  }
  
  #hi {
    margin: 0;
    font-size: 1cm;
    font-weight: 1000;
  }
  
  #presentation {
    letter-spacing: -2px;
    font-size: x-large;
    margin-top: 21px;
    line-height: 28px;
    font-weight: 100;
  }
  
  #skills {
    margin-top: 15px;
    margin-right: 11%;
    line-height: 22px;
  }
  
  #touch-button {
    background-color: globals.$background-color;
    border: 1px solid globals.$button-border-color;
    color: globals.$button-letter-color;
    text-decoration: none;
    border-radius: 1.5px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: globals.$font-stack;
    letter-spacing: -1px;
    padding: 12px 18px;
    margin-top: 20px;
  }
}