@media screen and (min-width: 751px) {
/* For PC */
  #contact-container {
    color: #E8E8E8;
    font-family: 'Courier New', Courier, monospace;
    margin: auto 20px auto 20px;
  }

  #contact-header {
    margin-top: 15vh;
    font-size: 0.8cm;
    font-weight: 800;
    letter-spacing: -0.02cm;
  }

  #contact-form {
    margin-top: 20px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
  }

  .form-input > label {
    font-weight: 700;
    font-size: 1.25em;
  }

  .form-input:not(:first-child) {
    margin-top: 15px;
  }

  .form-input > input, .form-input > textarea {
    transition-duration: 0.4s;
    background-color: #314354;
    color: #E8E8E8;
    border: none;
    line-height: 0.8cm;
    font-size: 1.05em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.04cm;
    border-bottom: 2px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .form-input > input {
    width: 70%;
  }

  .form-input > input:focus, .form-input > textarea:focus {
    outline: none;
    border-bottom: 2px solid #0085FC;
  }

  .form-input > input:invalid, .form-input > textarea:invalid {
    outline: none;
    border-bottom: 2px solid #D62727;
  }

  .form-input > textarea {
    height: 80px;
  }

  #send-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  #send-button {
    transition: 0.25s;
    outline: none;
    background-color: #1B1F24;
    border: 1px solid #0085FC;
    color: #2DB3FC;
    text-decoration: none;
    border-radius: 1.5px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
    padding: 12px 18px;
  }

  #send-button:active {
    background-color: #4576AD;
  }

  .info-message {
    font-size: 20px;
    padding: 12px 18px;
    border-radius: 1.5px;
  }

  #error {
    border: 1px solid #D62727;
  }

  #success {
    border: 1px solid #228B22;
  }

  #loading {
    border: 1px solid #0085FC;
  }
}


@media screen and (max-width: 750px) {
  #contact-container {
    color: #E8E8E8;
    font-family: 'Courier New', Courier, monospace;
    margin: auto 20px auto 20px;
  }
  
  #contact-header {
    margin-top: 15vh;
    font-size: 0.8cm;
    font-weight: 800;
    letter-spacing: -0.02cm;
  }
  
  #contact-form {
    margin-top: 20px;
  }
  
  .form-input {
    display: flex;
    flex-direction: column;
  }
  
  .form-input > label {
    font-weight: 700;
    font-size: 1.25em;
  }
  
  .form-input:not(:first-child) {
    margin-top: 15px;
  }
  
  .form-input > input, .form-input > textarea {
    transition-duration: 0.4s;
    background-color: #314354;
    color: #E8E8E8;
    border: none;
    line-height: 0.8cm;
    font-size: 1.05em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.04cm;
    border-bottom: 2px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .form-input > input {
    width: 70%;
  }
  
  .form-input > input:focus, .form-input > textarea:focus {
    outline: none;
    border-bottom: 2px solid #0085FC;
  }
  
  .form-input > input:invalid, .form-input > textarea:invalid {
    outline: none;
    border-bottom: 2px solid #D62727;
  }
  
  .form-input > textarea {
    height: 80px;
  }
  
  #send-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  #send-button {
    transition: 0.25s;
    outline: none;
    background-color: #1B1F24;
    border: 1px solid #0085FC;
    color: #2DB3FC;
    text-decoration: none;
    border-radius: 1.5px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
    padding: 12px 18px;
  }
  
  #send-button:active {
    background-color: #4576AD;
  }
  
  .info-message {
    font-size: 20px;
    padding: 12px 18px;
    border-radius: 1.5px;
  }
  
  #error {
    border: 1px solid #D62727;
  }
  
  #success {
    border: 1px solid #228B22;
  }
  
  #loading {
    border: 1px solid #0085FC;
  }
}
