/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hamburger > div {
  width: 28px;
  height: 4px;
  background-color: #E8E8E8;;
  margin: 3px 0;
  border-radius: 1.5px;
}

#bar1, #bar2, #bar3 {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.change #bar1 {
  -webkit-transform: translate(0, 10px) rotate(-45deg);
      -ms-transform: translate(0, 10px) rotate(-45deg);
          transform: translate(0, 10px) rotate(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  -webkit-transform: translate(0, -10px) rotate(45deg);
      -ms-transform: translate(0, -10px) rotate(45deg);
          transform: translate(0, -10px) rotate(45deg);
}

@media screen and (min-width: 751px) { 
  #hamburger {
    display: none;
  }
}