/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import '../../scss/globals.scss';

#navbar {
  background-color: $navbar-color;
}

@media screen and (min-width: $desktop-screen) {
  #HomeButton {
    text-decoration: none;
    width: fit-content !important;
    &.inactive {
      div {
        display: block;
        content: url(../../icons/Logos-Big/house_white.png);
        width: 50px;
      }
      span {
        display: none;
      }
    }

    &.active {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: none;
        content: none;
      }
      span {
        letter-spacing: 1px;
        display: block;
        color: $active-color;
        text-transform: uppercase;
        width: fit-content;
      }
    }
  }

  #AboutButton {
    text-decoration: none;
    width: fit-content !important;
    &.inactive {
      div {
        display: block;
        content: url(../../icons/Logos-Big/person_white.png);
        width: 50px;
      }
      span {
        display: none;
      }
    }

    &.active {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: none;
        content: none;
      }
      span {
        display: block;
        letter-spacing: 1px;
        color: $active-color;
        text-transform: uppercase;
        width: fit-content;
      }
    }
  }

  #ProjectsButton {
    text-decoration: none;
    width: fit-content !important;
    &.inactive {
      div {
        display: block;
        content: url(../../icons/Logos-Big/folders_white.png);
        width: 50px;
      }
      span {
        display: none;
      }
    }

    &.active {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: none;
        content: none;
      }
      span {
        display: block;
        letter-spacing: 1px;
        color: $active-color;
        text-transform: uppercase;
        width: fit-content;
      }
    }
  }

  #ExperienceButton {
    text-decoration: none;
    width: fit-content !important;
    &.inactive {
      div {
        display: block;
        content: url(../../icons/Logos-Big/bag_white.png);
        width: 50px;
      }
      span {
        display: none;
      }
    }

    &.active {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: none;
        content: none;
      }
      span {
        word-break: break-all;
        letter-spacing: 1px;
        display: block;
        color: $active-color;
        text-transform: uppercase;
        width: fit-content;
      }
    }
  }

  #ContactButton {
    text-decoration: none;
    width: fit-content !important;
    &.inactive {
      div {
        display: block;
        content: url(../../icons/Logos-Big/email_white.png);
        width: 50px;
      }
      span {
        display: none;
      }
    }

    &.active {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        display: none;
        content: none;
      }
      span {
        display: block;
        letter-spacing: 1px;
        color: $active-color;
        text-transform: uppercase;
        width: fit-content;
      }
    }
  }
}

@media screen and (max-width: $mobile-screen) {
  #HomeButton {
    content: url(../../icons/Logos-Small/house_white.png);

    &.active {
      content: url(../../icons/Logos-Small/house_blue.png);
    }
  }

  #AboutButton {
    content: url(../../icons/Logos-Small/person_white.png);

    &.active {
      content: url(../../icons/Logos-Small/person_blue.png);
    }
  }

  #ProjectsButton {
    content: url(../../icons/Logos-Small/folders_white.png);

    &.active {
      content: url(../../icons/Logos-Small/folders_blue.png);
    }
  }

  #ExperienceButton {
    content: url(../../icons/Logos-Small/bag_white.png);

    &.active {
      content: url(../../icons/Logos-Small/bag_blue.png);
    }
  }

  #ContactButton {
    content: url(../../icons/Logos-Small/email_white.png);

    &.active {
      content: url(../../icons/Logos-Small/email_blue.png);
    }
  }
}

@media screen and (min-width: $desktop-screen) {
  #navbar {
    width: 10vw;
    max-width: 180px;
    min-width: 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #navbar a {
    width: 50px;
    // height: 50px;
  }
}

@media screen and (max-width: $mobile-screen) {
  #navbar {
    height: $navbar-mobile-height;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px;
  }

  #navbar.change .menu-item {
    opacity: 100;
    visibility: visible;
  }

  #navbar .menu-item {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: visible;
  }

  #navbar a div {
    width: 30px;
    height: 30px;
  }
  #navbar a {
    width: 30px;
    height: 30px;
  }
}
