/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@use '../../scss/globals.scss';

#navbar {
  background-color: globals.$navbar-color;
}

@media screen and (min-width: globals.$desktop-screen) {
  #navbar{
    width: 10vw;
    max-width: 180px;
    min-width: 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #navbar a img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #navbar {
    height: globals.$navbar-mobile-height;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
  }
  
  #navbar.change .menu-item  {
    opacity: 100;
    visibility: visible;
  }
  
  #navbar .menu-item {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: visible;
  }

  #navbar a img {
    width: 30px;
    height: 30px;
  }
}
