/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@use '../../scss/globals.scss';

.job-description {
  display: none;
}

.more-button {
  border: 1px solid globals.$button-border-color;
  color: globals.$button-letter-color;
}

@media screen and (min-width: 751px) {
  #experience-container {
    margin: 20vh 5vw 5vh 7vw;
    width: 60vw;
  }

  #experience-header {
    font-size: 4.3em;
  }

  #job-list {
    margin-top: 2em;
    padding-right: 3em;
    max-height: calc(100% - 4.3em - 1.15em - 3em);
    overflow: auto;
    scrollbar-width: 7px;
    scrollbar-color: globals.$background-color;
  }

  #job-list::-webkit-scrollbar {
    width: 7px;
  }

  #job-list::-webkit-scrollbar-track {
    background: #0F0F0F;
    border-radius: 20px;
  }

  #job-list::-webkit-scrollbar-thumb {
    background-color: globals.$background-color;
    border-radius: 20px;
  }

  .job-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }


  .job-container:not(:first-child) {
    margin-top: 1.7em;
  }

  .job-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .job-image {
    max-width: 70px;
    max-height: 120px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .more-button {
    height: 1.1em;
    padding: 3px 7px;
    border-radius: 2px;
    font-size: 1.1em; 
    margin-top: .5em;
  }

  .more-button:hover {
    cursor: pointer;
  }

  .job-content {
    margin-left: .7em;
  }

  .job-duration {
    font-size: 2.3em;
    letter-spacing: -0.05cm;
  }

  .job-header {
    margin-top: .3em;
    font-size: 1.3em;
    letter-spacing: -0.02cm;
  }

  .job-description {
    margin-top: .2em;
    font-size: 1.05em;
    letter-spacing: -0.01cm;
    color: #cfcfcf;
  }
}

