@use './globals';

* {
  margin: 0; 
  padding: 0;
}

#container {
  background-color: globals.$background-color;
  height: 100%;
  color: globals.$font-color;
  font-family: globals.$font-stack;
}

.active-link-class {
  color: green;
  background-color: green;
}

@media screen and (min-width: 751px) {
  #container {
    display: flex;
  }
}

.show {
  display: block !important;
}