@use './globals';

* {
  margin: 0;
  padding: 0;
}

#container {
  background-color: globals.$background-color;
  min-height: 100vh;
  color: globals.$font-color;
  font-family: globals.$font-stack;
}

.active-link-class {
  color: green;
  background-color: green;
}

@media screen and (min-width: globals.$desktop-screen) {
  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.show {
  display: block !important;
}

@media screen and (min-width: globals.$desktop-screen) {
  .route-container {
    max-height: 100vh;
    padding: 7vh 7vw 7vh 7vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 10vw);
  }

  .route-top-container {
    max-height: 110px;
  }

  .route-header {
    font-size: 4.3em;
  }

  .route-caption {
    margin-top: 10px;
    font-size: 1.2em;
    color: #cfcfcf;
  }
}

@media screen and (max-width: globals.$mobile-screen) {
  #container {
    min-height: 100vh;
  }

  .route-container {
    margin-top: globals.$navbar-mobile-height;
    height: calc(100vh - #{globals.$navbar-mobile-height});
    margin: auto 10px;
  }

  .route-top-container {
    padding-top: 15px;
    max-height: 110px;
    margin: auto 5vw;
  }

  .route-header {
    font-size: 2.2em;
    font-weight: 800;
    letter-spacing: -0.02cm;
  }

  .route-caption {
    margin-top: 5px;
    font-size: 0.4cm;
    color: #cfcfcf;
    letter-spacing: -0.02cm;
  }
}
