$background-color: #1B1F24;
$font-color: #E8E8E8;
$font-stack: 'Courier New', Courier, monospace;
$navbar-color: #0F0F0F;
$active-color: #0085FC;
$button-border-color: #0085FC;
$button-letter-color: #2DB3FC;
$mobile-screen: 750px;
$desktop-screen: 751px;

$button-border: 1px solid $button-border-color;
$navbar-mobile-height: 55px;