$background-color: #1b1f24;
$font-color: #e8e8e8;
$font-stack: 'Courier New', Courier, monospace;
$navbar-color: #0f0f0f;
$active-color: #0085fc;
$button-border-color: #0085fc;
$button-hover-color: #0086fc3d;
$button-letter-color: #2db3fc;
$mobile-screen: 750px;
$desktop-screen: 751px;

$button-border: 1px solid $button-border-color;
$navbar-mobile-height: 55px;
